<div class="page-header">
	<h1 ng-if="reservation.type == 'create'">Create Reservation</h1>
	<h1 ng-if="reservation.type == 'edit'">Edit Reservation</h1>
</div>


<form class="form-horizontal"   ng-init="reservation.getUser(main.user.id)" ng-submit="reservation.saveReservation()">
	
	<!--<div class="form-group" ng-if="reservation.type== 'edit'">
			<input type="hidden" class="form-control" ng-model="reservation.reservationData.reservation_id" >
	</div>-->
	</div>




	</div>
	<div class="form-group" >
		<div class="col-sm-12">

		    <div class="form-horizontal">
		<center>	<datepicker ng-model="dt" date-disabled="disabled(date,mode)"min-date="minDate" show-weeks="false" style="margin:auto" custom-class="getDayClass(date, mode)"></datepicker>
</center>
		    </div>
		</div>
<div class="col-sm-12"><br><br>
	<center>
	     <span class="dropdown" dropdown on-toggle="toggled(open)">
		 <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
			Select a Time <span class="caret"></span>
		</button>
	      <ul class="dropdown-menu">

		<li ng-if="dt.getDay() != '0' "ng-repeat="choice in reservation.time">
		  <a ng-click="reservation.setTime(choice)">{{choice}}</a>
		</li>
		<li ng-if="dt.getDay() == '0' "ng-repeat="choice in reservation.timeSun">
		  <a ng-click="reservation.setTime(choice)">{{choice}}</a>

		</li>
	      </ul>
		<strong>
	       {{dt.getHours()}}:00 - {{dt.getHours()+4}}:00
</strong>
	    </span>
	</center>
	</div>
	</div>

	<hr>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">
		<h2>Available booths</h2>

		<label class=" control-label">Selected Booth : {{booth_id.booth_title}}</label><br>
		<div class="btn-group">
			<ul style="display: inline"ng-repeat="booth in reservation.booths">
			<label class="btn btn-primary" ng-model="$parent.booth_id" btn-radio="booth" style="width:200px; margin-top:20px" ng-class="booth.booth_title">
			{{ booth.booth_title }}
			</label>
			<!--Drop down menu of booths-->
				
			</ul>

		</div>
		</div>
	</div>

	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-8">
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="reservation.type == 'create' && !reservation.banned">Create Reservation</button>
		<button type="submit" class="btn btn-fail btn-lg btn-block" ng-if="reservation.type == 'create' && reservation.banned" disabled>Sorry, but you have been banned</button>
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="reservation.type == 'edit'">Update Reservation</button>
	</div>
	</div>

</form>

<div class="row show-hide-message" ng-show="reservation.message">
	<div class="col-sm-6 col-sm-offset-2">
		
		<div class="alert alert-info">
			{{ reservation.message }}
		</div>

	</div>
</div>
