
<div class="jumbotron">

<!-- get the logged in user as the user in the controller -->
<div class="page-header" ng-init="user.getUser(main.user.id)">
	
	<h1>Welcome, {{ user.userData.username }} </h1> 
	<p>{{ user.userData.description }}</p>

	<a href="/users/{{ main.user.id }}" class="btn btn-large">Edit your information</a>

	<h3> Your stats: </h3>
	<p ng-if="main.user.isAdmin">You <em>are</em> an admin.</p> 	
	<p>Time until ban ends: {{user.userData.dt_ban_end}}</p>
</div>




<h3>Your Reservations</h3>

	<table class="table table-bordered table-striped" ng-controller="reservationController as res">
	<thead>
		<tr>
			<th>Booth</th>
			<th>User id</th>
			<th>Date start</th>
			<th>Delete</th>
			<th>Edit</th>
		</tr>
	</thead>
	<tbody>
		
		<!-- Only show reservations that belong to this user -->
		<tr ng-repeat="booking in res.reservations" ng-if="booking.user_id == main.user.id">

				<td>{{ booking.booth_title }}</td>
				<td>{{ booking.user_id }}</td>
				<td>{{ booking.dt_start }}</td>
				<td class="col-sm-2">
					<a href="#" ng-click="reservation.deleteReservation(booking._id)" class="btn btn-primary">Delete</a>
				</td>
				<td class="col-sm-2">
					<a href="/reservations/{{booking._id}}" class="btn btn-primary">Edit</a>
				</td>

			</div>

		</tr>
	</tbody>
</table>

</div>