
<div class="jumbotron">

<div class="page-header">
	
	<h1>{{ user.userData.username }} </h1> 
	
	<table id="user-info-table">
		<tr><td>{{ user.userData.name  }}</td>
			<td>{{ user.userData.email }}</td>
			<td>{{ user.userData.phone }}</td>
		</tr>	
	</table>

	<p>{{ user.userData.description }}</p>

	<a ng-if="(main.user.id == user.userData._id) || main.user.isAdmin" href="/users/{{ main.user.id }}/edit" class="btn btn-large">Edit information</a>

	<hr>

	<h3> Account info</h3>

	<p><strong>Account type:</strong> 
		<span ng-if="main.user.isAdmin">Admin</span>
		<span ng-if="!main.user.isAdmin">Vendor</span>
	</p>

	<p><strong>Ban status:</strong> 
		<span ng-if="user.banned">Banned. Time until ban ends:  {{ user.userBanMilli | amDifference : user.currentDate : 'days' }} day(s)</span>
		<span ng-if="!user.banned">Not banned. You are free to make reservations.</span>
	</p>

</div>


<h3>Reservations</h3>

	<table class="table table-bordered table-striped" ng-controller="reservationController as res">
	<thead>
		<tr>
			<th>Booth</th>
			<th>Date start</th>
			<th>Description</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		
		<!-- Only show reservations that belong to this user -->
		<tr ng-repeat="booking in res.reservations" ng-if="booking.user_id == main.user.id">

				<td>{{ res.getBoothName(booking.booth_id) }}</td>
				<td>{{ booking.dt_start }}</td>
				<td>{{ booking.description }}</td>
			
				<td class="col-sm-1">
					<a href="#" ng-click="reservation.deleteUserReservation(booking._id)" class="btn btn-primary">Delete</a>
				</td>

			</div>

		</tr>
	</tbody>
</table>

</div>
