
<div class="jumbotron">

<div class="page-header">
	
	<h1>{{ user.userData.username }} </h1> 
	
	<table id="user-info-table">
		<tr><td>{{ user.userData.name  }}</td>
			<td>{{ user.userData.email }}</td>
			<td>{{ user.userData.phone }}</td>
		</tr>	
	</table>

	<p>{{ user.userData.description }}</p>

	<a ng-if="(main.user.id == user.userData._id) || main.user.isAdmin" href="/users/{{ user.userData._id }}/edit" class="btn btn-large">Edit information</a>

	<hr>

	<h3> Account info</h3>

	<p><strong>Account type:</strong> 
		<span ng-if="main.user.isAdmin">Admin</span>
		<span ng-if="!main.user.isAdmin">Vendor</span>
	</p>

	<p><strong>Ban status:</strong> 
		<span ng-if="user.banned">Banned. Time until ban ends: {{ user.userBanMilli | amDifference : user.currentDateMilli : 'hour' }} hour(s)</span>
		<span ng-if="!user.banned">Not banned. You are free to make reservations.</span>
	</p>

</div>


<h3>Reservations</h3>

	<table class="table table-bordered table-striped" ng-controller="reservationController as res">
	<thead>
		<tr>
			<th>Booth</th>
			<th>Date start</th>
			<th>Description</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		
		<!-- Only show reservations that belong to this user -->
		<tr ng-repeat="booking in res.reservations" ng-if="booking.user_id == main.user.id">

				<td>{{ res.getBoothName(booking.booth_id) }}</td>
				<td>{{ booking.dt_start }}</td>
				<td>{{ booking.description }}</td>
			
				<td class="col-sm-1">
					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#resModal" ng-click = "res.checkBan">Delete</button>
					<!-- <a ng-click="res.deleteUserReservation(booking._id)" class="btn btn-primary">Delete</a> -->
					<!---resModal--->
						<div id="resModal" class="modal fade" role="dialog">
						  <div class="modal-dialog">

						    <!-- resModal content-->
						    <div class="modal-content">
						      <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Modal Header</h4>
						      </div>
						      <div class="modal-body">
							<p>Some text in the modal.</p>
						      </div>
						      <div class="modal-footer">
							<button ng-click="res.deleteUserReservation(booking._id)" class="btn btn-primary">Delete</a>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>

						  </div>
						</div>
				</td>

			</div>

		</tr>
	</tbody>
</table>
<div ng-if = "user.userData._id == main.user.id">
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Delete</button>

<!---Modal--->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are you sure you want to delete your profile?</h4>
      </div>
      <div class="modal-body">
        <p>This cannot be reversed. Your account and all information will be deleted and you will be redirected to the Farmer's Market Homepage.</p>
      </div>
<div class="modal-footer" ng-controller = "userProfileController as user">
	<button ng-click="user.deleteUser(user.userData._id)" class="btn btn-primary">I understand, delete my account</a>

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>
  </div>
</div>
</div>


<!---resModal--->
<div id="resModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- resModal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer" ng-controller="reservationController as res">
	<button ng-click="res.deleteUserReservation(booking._id)" class="btn btn-primary">Delete</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
